name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Emscripten
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        ./emsdk install latest
        ./emsdk activate latest
        source ./emsdk_env.sh
        echo "::add-path::$(pwd)"/emsdk
        echo "::add-path::$(pwd)"/emsdk/upstream/emscripten
        echo "EMSDK=$(pwd)/emsdk" >> $GITHUB_ENV
        echo "EMSCRIPTEN=$(pwd)/emsdk/upstream/emscripten" >> $GITHUB_ENV

    - name: Build project
      env:
        EMSDK: ${{ env.EMSDK }}
        EMSCRIPTEN: ${{ env.EMSCRIPTEN }}
      run: |
        source $GITHUB_ENV
        python3 scripts/linux_compile_emscripten.py

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./out