name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Emscripten
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    
    - name: Install Emscripten
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        ./emsdk install latest
        ./emsdk activate latest
        source ./emsdk_env.sh

    - name: Build project
      run: |
        python3 scripts/linux_compile_emscripten.py

    - name: Upload artifact to GitHub Pages
      uses: actions/upload-pages-artifact@v1
      with:
        path: ./out

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v1